<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/libs/bootstrap-3.3.7-dist/css/bootstrap.css">
    <!--REACT JS--> 
    <!-- <script  src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> -->
    

    <link rel="stylesheet"  href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row first_blc" >
                <img src="/imgs/banner_t1.png" alt="">
            <div class="top_name_blc ">
                <div class="top_name_blc_left">
                    <h4 style="color: red">Mrs Lee Chang</h4>
                </div>
                <div class="top_name_blc_right">
                    <h4>Statement | CONTRACT NOTE | INVOICE</h4>
                    <p>05/07/2017</p>
                    <p>Account: C***** Share trading</p>
                    <p>Printed at 03:00:00</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="account_summ_blc">
                    <h4>ACCOUNT SUMMARY IN AUD</h4>
                    <!-- <div id="account_sum"></div> -->
                    <div class="account_table ">
                        <div class="account_table_head">
                            <h5>Details</h5>
                            <h5>Total AUD</h5>
                        </div>
                        <div class="account_table_body">
                            <div class="account_table_body_inner1">
                                <p>Cash Balance AUD</p>
                                <span>0.00</span>
                            </div>
                            <div class="account_table_body_inner2">
                                <p>Total account value</p>
                                <span>0.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="app"></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script  src="/js/custom.js"></script>
</body>
</html>