<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/libs/bootstrap-3.3.7-dist/css/bootstrap.css">
    <!--REACT JS--> 
    <!-- <script  src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> -->

    <link rel="stylesheet"  href="/css/style.css">
</head>
<body id="report3Body">
        <img src="/imgs/banner_t1.png" alt="">
    <div class="container">
        <div class="row report_init_blc" >
                
            <div class="top_name_blc ">
                <div class="top_name_blc_left">
                    <h4 >Mrs Lee Chang</h4>
                </div>
                <div class="top_name_blc_right">
                    <h4>Statement | CONTRACT NOTE | INVOICE</h4>
                    <p>05/07/2017</p>
                    <p>Account: C***** Share trading</p>
                    <p>Printed at 03:00:00</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="account_summ_blc">
                    <h4>ACCOUNT SUMMARY IN AUD</h4>
                    <!-- <div id="account_sum"></div> -->
                    <div class="account_table ">
                        <div class="account_table_head">
                            <h5>Details</h5>
                            <h5>Total AUD</h5>
                        </div>
                        <div class="account_table_body">
                            <div class="account_table_body_inner1">
                                <span>Value of USD assets</span>
                                <span>34523424</span>
                            </div>
                            <div class="account_table_body_inner2">
                                <span>Cash Balance AUD</span>
                                <span>234234</span>
                            </div>
                            <div class="account_table_body_inner3">
                                <span>Total account value</span>
                                <span>2342342</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="exchange_rates_blc">
                    <h4>AUD EXCHANGE RATES</h4>
                    <div class="exchange_table">
                        <div class="exchange_table_head">
                            <h5 class="inline">Converted form</h5>
                            <h5 class="inline">Converted to</h5>
                            <h5 class="inline">Indicative exchange rate</h5>
                        </div>
                        <div class="exchange_table_body">
                            <span>USD</span>
                            <span>AUD</span>
                            <span>13231</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="acount_active_blc">
                    <h4>HOLDINGS USD</h4>
                    <div class="activity_table">
                        <table style="width: 100%">
                            <tr class="table_thead">
                                <th>Detail</th>
                                <th>ISIN</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                                <th>Current</th>
                                <th>Value</th>
                                <th>Gain/Loss($)</th>
                                <th>Gain/Loss(%)</th>
                            </tr>
                            <tr>
                                <td>Facebook Inc</td>
                                <td>US02131241241</td>
                                <td>51</td>
                                <td>124421</td>
                                <td>345345</td>
                                <td>123123</td>
                                <td>234234</td>
                                <td>3453</td>
                            </tr>
                            <tr>
                                <td>Apple Inc</td>
                                <td>US02131241241</td>
                                <td>51</td>
                                <td>124421</td>
                                <td>345345</td>
                                <td>123123</td>
                                <td>234234</td>
                                <td>3453</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="acount_active_blc">
                    <h4>AUD ACCOUNT ACTIVITY</h4>
                    <div class="activity_table">
                        <table>
                            <tr class="table_thead">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Deal Code</th>
                                <th>Type of order</th>
                                <th>ISIN</th>
                                <th>Transaction type</th>
                                <th>Trd Curr.</th>
                                <th>Quantity</th>
                                <th>Dealing Price</th>
                                <th>Dealing charges(incl. GST)</th>
                                <th>GST</th>
                                <th>Conv Rate</th>
                                <th>Credit/debit</th>
                                <th>Balance</th>
                            </tr>
                            <tr>
                                <td>04/02/07</td>
                                <td>00:23</td>
                                <td>234242</td>
                                <td>BPAY Received</td>
                                <td></td>
                                <td></td>
                                <td>Cash In</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>110000</td>
                                <td>110000</td>
                            </tr>
                            <tr>
                                <td>04/02/07</td>
                                <td>00:23</td>
                                <td>234242</td>
                                <td>BPAY Received</td>
                                <td></td>
                                <td></td>
                                <td>Cash In</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>110000</td>
                                <td>110000</td>
                            </tr>
                        </table>
                    </div>
                    <div id="app"></div>
                </div>
            </div>
        </div>

        <div class="grewBg">Issued by IG Markets Limited. ABN1232131231, Australia Financial Services Licence No.25464.Securites and assets are held by IG and an external custodian on your behalf</div>
        <br>
        <div class="grewBg">This confirmation contract note and statement are subject to the current terms and conditions of your share trading account. It may have been generated outside market hours. Please
            promptly make us aware of any errors or omissions. Your order may have been executed as multiple market transactions across multiple trade execution venues. Each trade activity
            transaction specifies the volume weighted average price for those market transactions. Please note that commissions may be shared with third parties. An itemised breakdown of
            commissions and taxes is available on request. GST (where appropriate) applies to brokerage and miscellaneous charges, excluding stamp duty.</div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/jsx"  src="/js/custom.jsx"></script>
</body>
</html>